
/* Your CSS Code here. */
button {
  color: rgb(255, 255, 255);   /* white text */
  border-radius: 5px;
  background-color: black;
  border: 0;                   /* removes default border */
}

button:hover {
  color: yellow;               /* hover color */
  border-radius: 30px;
}
